.case {{case.name}}
.category {{case.category}}
  pic
    .loading(ng-show='!case.coverUrl')
      i.fa.fa-spinner.fa-spin
    img.img-responsive(ng-src='{{case.coverUrl}}', alt='{{case.name}}', ng-show='case.coverUrl')