.cover
  .info
    .name {{slider.name}}
  img.main.img-responsive.center-block(ng-src='{{slider.coverUrl}}')
  .actions
    .enter
      | ver caso
    .explore
      | ver más en {{slider.category}}