@import '../../css/functions';
@import '../../css/colors';

.covershow{
  width: -webkit-calc(100% - 80px);
  width:    -moz-calc(100% - 80px);
  width:         calc(100% - 80px);
}
.carousel-indicators{
  bottom: 0;
}
.carousel{
  position: absolute;
  left: 80px;
  height: 100%;
  .carousel-inner{
    height: 100%;
    .item{
      width: 100%;
      height: 100%;
      .cover{
        position: relative;
        width: 100%;
        height: 100%;
        img.main{
          position: relative;
          z-index: 2;
          top: 4%;
          max-height: 90%;
          -webkit-box-shadow: 0 0 100px 0 rgba(black,.75);
             -moz-box-shadow: 0 0 100px 0 rgba(black,.75);
                  box-shadow: 0 0 100px 0 rgba(black,.75);
        }
      }
    }
  }
}
.actions{
  position: absolute;
  .enter,
  .explore{
    color: black;
  }
}
.info{
  position: absolute;
  z-index: 3;
  right: 60px;
  bottom: 100px;
  width: 300px;
  .name{
    font-size: 1.3em;
    font-weight: 100;
    position: relative;
    height: 46px;
    padding: 10px;
    text-align: right;
    text-transform: uppercase;
    color: white;
    border-right: $tur 4px solid;
    background: $l-black;
    &::before{
      position: absolute;
      top: 0;
      left: -23px;
      width: 0;
      height: 0;
      content: '';
      border-top: 23px solid transparent;
      border-right: 23px solid $l-black;
      border-bottom: 23px solid transparent;
    }
  }
}
