sidebar-menu(categories='main.categories')
uib-carousel.covershow(active='0', interval='8000', no-wrap='false', style='background:url("http://www.wyattcoin.com/wp-content/uploads/2015/09/1575961.jpg")')
  uib-slide(ng-repeat='case in main.cases track by $index', index='$index' )
    photo-slider(slider='case')
    
  //- img.img-responsive()
  //- h2.text-center Sheets:
  //- .col-sm-3(ng-repeat='case in main.cases' )
  //-   single-case(case='case')
  