sidebar-menu(categories='main.categories')
uib-carousel(active='0', interval='8000', no-wrap='false')
  uib-slide(ng-repeat='case in main.cases track by $index', index='$index' )
    photo-slider(slider='case')
    
  //- img.img-responsive()
  //- h2.text-center Sheets:
  //- .col-sm-3(ng-repeat='case in main.cases' )
  //-   single-case(case='case')
  